.app-nav-container {
  background-color: #2c0e3a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.app-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  padding: 15px;
}

.website-logo {
  width: 100px;
}

.timer-img {
  width: 25px;
}

.nav-timer-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.matching-img {
  width: 300px;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tabs-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  list-style: none;
}

.category-imgs-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game-result-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  height: 500px;
  width: 300px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.trophy-img {
  width: 300px;
}
